################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Northwind.Tests/bin/Debug/netcoreapp2.1
/Northwind.Tests/obj
/Northwind.IntegrationTests/bin/Debug/netcoreapp2.1
/Northwind.IntegrationTests/obj
/Northwind.DAL/bin/Debug/netcoreapp2.1
/Northwind.DAL/obj
/Northwind.BLL/bin/Debug/netcoreapp2.1
/Northwind.BLL/obj
/Northwind/bin/Debug/netcoreapp2.1
/Northwind/obj
/mezzanine.utility/bin/Debug/netcoreapp2.1
/mezzanine.utility/obj
/mezzanine.essentials/bin/Debug/netcoreapp2.1
/mezzanine.essentials/obj
*.user
/Northwind/bin/Debug/net6.0
/Northwind.Api.Tests/bin/Debug/net6.0
/Northwind.Api.Tests/obj/Debug/net6.0
/Northwind.Api.Tests/obj
/Northwind.BLL/bin/Debug/net6.0
/Northwind.DAL/bin/Debug/net6.0
/tools.utility/bin/Debug
/tools.utility/obj/Debug/net6.0
/tools.utility/obj
/tools.essentials/bin/Debug
/tools.essentials/obj/Debug
/tools.essentials/obj
/Northwind.React.UI/bin/Debug/net6.0
/Northwind.React.UI/ClientApp
/Northwind.React.UI/obj/Debug/net6.0
/Northwind.React.UI/obj
/Northwind.IntegrationTests/bin/Debug/net6.0
/Northwind.Identity.UI/bin/Debug/net6.0
/Northwind.Identity.UI/obj/Debug/net6.0
/Northwind.Identity.UI/obj
