@model IViewModel

@{
    // Setup some basic defaults for the home page.
    Model.PageMeta.PageTitle = "Cookie Policy";
    Model.PageMeta.Description = Model.PageMeta.PageTitle;
    Model.PageMeta.AddKeyword("Cookie Policy");
}

<h2><i class="fa fa-file"></i> Cookie Policy</h2>
<p>If we had a cookie policy it would appear here...</p>