@model IViewModel

@{
    // Setup some basic defaults for the home page.
    Model.PageMeta.PageTitle = "GDPR";
    Model.PageMeta.Description = "GDPR";
    Model.PageMeta.AddKeyword("GDPR");
}

<h2><i class="fa fa-file"></i> Data Protection Policy</h2>
<p>If we had a data protection policy it would appear here...</p>

<div class="alert alert-info">
    <p>You should provide a link to message your data protection officer.</p>
</div>