@model IViewModel

@{
    // Setup some basic defaults for the home page.
    Model.PageMeta.PageTitle = "Legal Pages";
    Model.PageMeta.Description = "Legal Pages";
    Model.PageMeta.AddKeyword("Legal");
}

<h2><i class="fa fa-file"></i> Legal Pages</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-area="" asp-controller="Legal" asp-action="Cookies">Cookie Policy</a>
    </li>
    <li class="list-group-item">
        <a asp-area="" asp-controller="Legal" asp-action="GDPR">Data Protection Policy</a>
    </li>
</ul>