/*
    Sass functions for resuse.
*/
@mixin border-radius($radius) {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($left, $right, $bottom) {
    box-shadow: $left $right $bottom rgba(41, 41, 44, 0.64);
    -moz-box-shadow: $left $right $bottom rgba(41, 41, 44, 0.64); /* Firefox 3.5+ */
    -webkit-box-shadow: $left $right $bottom rgba(41, 41, 44, 0.64); /*Safari 3+ Chrome */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=123, Color='#6f6f6b')"; /*IE 8*/
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=123, Color='#6f6f6b'); /*IE 5.5 -7 */
}

@mixin radial-gradient($color1, $color1pc, $color2, $leftPx, $rightPx ) {
    background: radial-gradient(farthest-corner at $leftPx $rightPx, $color1 $color1pc, $color2 100%);
}

@mixin box-glow($blur, $color) {
    box-shadow: 0px 2px 8px $blur $color, 2px 0px 8px $blur $color;
}

@mixin opacity($value)
{
    $alpha-value: $value * 100;

    opacity: $value;
    /* IE8 and earlier */
    filter: Alpha(opacity=$alpha-value);
}

@mixin text-shadow()
{
    text-shadow: 2px, 2px, 7px, black;
}