/*
    Site Style.

    This is not a complete solution - you will need to make changes for different brand images.

*/
@import '_functions.scss';
@import '_theme.scss';

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: $body-background;
    color: $body-font-color;
    cursor: default;
}

header {
    max-height: 0px;
    visibility: hidden;
}

// The inital configuration is for the smallest size where the nav is the header.
nav, .navbar-custom, .navbar-toggle {
    background-color: $header-background;
    color: $header-font-color;
}

.navbar {
    color: $header-font-color;
    @include border-radius(0px);
    border: none;
}

nav .icon-bar {
    background-color: $header-font-color;
}

nav .navbar-header h1, nav .navbar-header img {
    float: left;
}

nav .navbar-header h1 {
    margin-top: 14px;
    font-size: 20px;
}

nav .navbar-header img {
    margin-top: 8px;    
    margin-left: 16px;
    height: 30px;
    width: 126px;
}

.dropdown-menu .divider {
    background-color: $nav-selected-background;
}

.navbar-custom .navbar-text {
    color: $header-font-color;
}

.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav > li > .fa,
.navbar-custom .navbar-nav .dropdown-menu > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > .fa {
    color: $header-font-color;
    background-color: $header-background;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > li > .fa:hover,
.navbar-custom .navbar-nav > li > .fa:focus,
.navbar-custom .navbar-nav .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav .dropdown-menu > li > a:focus,
.navbar-custom .navbar-nav .dropdown-menu > li > .fa:hover,
.navbar-custom .navbar-nav .dropdown-menu > li > .fa:focus {
    color: $nav-selected-font-color;
    background-color: $nav-selected-background;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .active > .fa:hover,
.navbar-custom .navbar-nav > .active > .fa:focus,
.navbar-custom .navbar-nav .dropdown-menu > li > .active > a
.navbar-custom .navbar-nav .dropdown-menu > li > .active > a:hover,
.navbar-custom .navbar-nav .dropdown-menu > li > .active > .fa:hover,
.navbar-custom .navbar-nav .dropdown-menu > li > .active > .fa:focus {
    color: $nav-selected-font-color;
    background-color: $nav-selected-background;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    color: $nav-selected-font-color;
    background-color: $nav-toggle-selected;
}

content .container {
    margin-top: -12px;
    margin-bottom: 200px;
}

.footer {
    min-height: 65px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $footer-background;
    color: $footer-font-color;
}

footer .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer ul {
    padding-left: 14px;
    padding-right: 14px;
}

footer li {
    list-style-type: none;
}

footer a {
    color: $body-font-color;
}

footer a:hover {
    font-weight: bold;
    font-stretch:expanded;
    color: $body-font-color;
    text-decoration-style: none;
}

footer a:visited {
    font-weight: bold;
    color: $body-font-color;
}

footer ul span {
    visibility: hidden;
    max-height: 0px;
    max-width: 0px;
}

div .modal-dialog, div .modal-lg {
    background-color: $dialog-backgound;
    color: $dialog-font-color;
}

div .btn-group {
    margin-left: 15px;
    padding: 20px;
    font-size: larger;
    float: right;
}

#foodItemCarousel div .image0 
{
    min-height: 400px;
    height: 400px;
    background-image: url("../images/products/banana-custard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#foodItemCarousel div .image1 {
    min-height: 400px;
    height: 400px;
    background-image: url("../images/products/Dried-Mushrooms.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#foodItemCarousel div .image2 {
    min-height: 400px;
    height: 400px;
    background-image: url("../images/products/ice-cream.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#foodItemCarousel div .image3 {
    min-height: 400px;
    height: 400px;
    background-image: url("../images/products/smelly-cheese.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.foodImage {
    min-height: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid $nav-background;
    @include border-radius(4px);
    @include box-shadow(4px, 4px, 6px);
}

.foodImage1 {
    background-image: url("../images/products/1.jpg");
}

.foodImage2 {
    background-image: url("../images/products/2.jpg");
}

.foodImage3 {
    background-image: url("../images/products/3.jpg");
}

.foodImage4 {
    background-image: url("../images/products/4.jpg");
}

.foodImage5 {
    background-image: url("../images/products/5.jpg");
}

.foodImage6 {
    background-image: url("../images/products/6.jpg");
}

.foodImage7 {
    background-image: url("../images/products/7.jpg");
}

.foodImage8 {
    background-image: url("../images/products/8.jpg");
}

.carousel-font-color {
    color: $body-background;
}

.carousel-font-color-inverse {
    color: rgb(80,80,80);
    text-shadow: none;
    font-weight:bold;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    nav .navbar-header h1 {
        margin-top: 12px;
        font-size: 24px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) 
{
    .header {
        min-height: 240px;
        max-height: inherit;
        visibility: initial;
        color: $header-font-color;
        background-color: $header-background;
    }

    header .container-fluid {
        min-height: 240px;
        max-height: inherit;
    }

    .header-short, .header-short .container-fluid {
        min-height: 100px;
    }

    header .background-image {
        background-image: url("../images/_MG_0340_fotarchiwumBA-kap-borch.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;        
    }

    header h1 {
        float: right;
        font-size: 65px;
        color: $header-font-color-desktop;
        @include text-shadow();
    }

    header img {
        height: 120px;
        width: 188px;
        margin-left: 18px;
    }

    nav .navbar-header h1, 
    nav .navbar-header img {
        visibility: hidden;
        max-height: 0px;
        max-width: 0px;
        padding: 0px;
        margin: 0px;
    }

    nav .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    nav .active {
        background-color: $nav-selected-background-desktop;
    }

    // nav for desktop
    .dropdown-menu {
        border: none;
        @include border-radius(0px);
    }

    nav, .navbar-custom, 
    .navbar-toggle, .dropdown-menu {
        background-color: $nav-background;
        color: $nav-font-color;
    }

    .navbar {
        color: $nav-background;
        border-bottom: 5px solid $header-background;
        @include box-shadow(0px, 0px, 5px);
    }

    nav .icon-bar {
        background-color: $nav-font-color;
    }

    .dropdown-menu .divider {
        background-color: $nav-selected-background-desktop;
    }

    .navbar-custom .navbar-text {
        color: $nav-font-color;
    }

    .navbar-custom .navbar-nav > li > a,
    .navbar-custom .navbar-nav > li > .fa,
    .navbar-custom .navbar-nav .dropdown-menu > li > a,
    .navbar-custom .navbar-nav .dropdown-menu > li > .fa {
        color: $nav-font-color;
        background-color: $nav-background;
    }

    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > li > .fa:hover,
    .navbar-custom .navbar-nav > li > .fa:focus,
    .navbar-custom .navbar-nav .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .dropdown-menu > li > a:focus,
    .navbar-custom .navbar-nav .dropdown-menu > li > .fa:hover,
    .navbar-custom .navbar-nav .dropdown-menu > li > .fa:focus {
        color: $nav-selected-font-color-desktop;
        background-color: $nav-selected-background-desktop;
    }

    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus,
    .navbar-custom .navbar-nav > .active > .fa:hover,
    .navbar-custom .navbar-nav > .active > .fa:focus {
        color: $nav-selected-font-color-desktop;
        background-color: $nav-selected-background-desktop;
    }

    content .container {
        margin-bottom: 100px;
        background-image: url("../images/compass_rose_site.png");
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 550px;
        background-color: $content-background;
        color: $content-font-color;
        border: 2px solid $header-background;
        @include border-radius(4px);
        @include box-shadow(2px, 2px, 2px);
    }

    .footer {
        min-height: 40px;
    }

    footer li {
        display: inline;
    }

    footer ul {
        margin: 0px;
    }

    footer ul:first-of-type {
        padding-top: 7px;
    }

    footer ul:last-of-type {
        padding-bottom: 14px;
    }

    footer ul span {
        visibility: initial;
        max-height: initial;
        max-width: initial;
    }

    .navbar-fixed-top .navbar-nav {
        padding-left: 15px;
        padding-right: 0px;
    }

    .navbar-fixed-top .navbar-right {
        padding-left: 0px;
        margin-right: 0px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .header {
        min-height: 300px;
    }

    header .container-fluid {
        min-height: 300px;
    }

    .header-short, .header-short .container-fluid {
        min-height: 100px;
    }

    .content-image {
        background-size: 780px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .header {
        min-height: 460px;
    }

    header .container-fluid {
        min-height: 460px;
    }

    .header-short, .header-short .container-fluid {
        min-height: 100px;
    }
}

@import '_fixes.scss';