@using Microsoft.AspNetCore.Http.Features

@functions 
{
    private bool showBanner(ITrackingConsentFeature consentFeature)
    {
        bool result = false;

        if (consentFeature != null)
        {
            result = consentFeature.CanTrack == false || (consentFeature.IsConsentNeeded == true && consentFeature.HasConsent == false);
        }

        return result;
    }
}

@{
    ITrackingConsentFeature consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    bool showBanner = this.showBanner(consentFeature);
    string cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-header">
                <h2>This site uses cookies to provide you with services.</h2>
            </div>
            <div class="modal-body">
                <p>By clicking on the button, you agree for this site to save cookies.</p>
                <button id="cookieMessage" class="btn btn-primary" type="button" data-dismiss="modal" data-cookie-string="@cookieString">OK - save cookies.</button>
                <p class="more-padding-top">You can review our cookie and data protection policy at any time by clicking on the links at the bottom of the page.</p>
            </div>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie += el.target.dataset.cookieString;                
            }, false);
        })();
    </script>
}


