@model AssemblyInfo

<header class="header">
    <div class="container-fluid background-image">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <h1>@Model.Product</h1>
        </a>
    </div>
</header>
