@model AssemblyInfo

<footer class="footer">
    <div class="container-fluid">
        <div class="col-sm-4">
            <ul class="list-unstyled">
                <li>
                    <strong>&copy; @Model.Company @Model.Product @DateTime.Now.Year.ToString(this.ViewContext.HttpContext.Request.Culture())</strong>
                </li>
                <li>
                    <span>| </span><a class="" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li>
                    <span>| </span><a class="" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-unstyled">
                <li>
                    <strong>Legal</strong>
                </li>
                <li>
                    <span>| </span><a class="" asp-area="" asp-controller="Legal" asp-action="Cookies">Cookie Policy</a>
                </li>
                <li>
                    <span>| </span><a class="" asp-area="" asp-controller="Legal" asp-action="GDPR">GDPR</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-unstyled">
                <li>
                    <strong>Integration</strong>
                </li>
                <li>
                    <span>| </span><a class="" asp-area="api" asp-controller="Home" asp-action="Index">api</a>
                </li>
            </ul>
        </div>
    </div>
</footer>