@model ListViewModel<ProductApiModel>

@{
    // Setup some basic defaults for the page.
    Model.PageMeta.PageTitle = "Our Products";
    Model.PageMeta.Description = Model.PageMeta.PageTitle;
    Model.PageMeta.AddKeyword("Products");
    Model.PageMeta.AddKeyword("Inventory");
    Model.PageMeta.AddKeyword("Stock");
}

@functions {
public IDictionary<string, string> RouteParams(int productId)
{
    IDictionary<string, string> result = new Dictionary<string, string>();
    result.Add("productId", productId.ToString());
    return result;
}
}

@foreach (ProductApiModel item in Model.ViewList)
{
    <a asp-area="" asp-controller="Inventory" asp-action="Product" asp-all-route-data="@RouteParams(item.RowId)">
        <div class="col-sm-6 panel panel-custom">
            <div class="panel-heading">
                <h4>@item.ProductName</h4>
            </div>
            <div class="panel-body">
                <p>@item.QuantityPerUnit @item.UnitPrice.Value.ToString("c")</p>
            </div>
        </div>
    </a>
}

<partial name="_Pagination" model="Model.Pagination" />